* {
    margin: 0px;
    padding: 0px;
}
div {
    height: 200px;
    width: 800px;
    background-color: grey;
    border-radius: 20px;
}
h1 {
    color: red;
    text-align: center;
}
p {
    font-size: 25px;
    text-align: justify;
    margin: 15px;
}
main {
    width: 800px;
    display: flex;
    justify-content:space-evenly;
}
img {
    width: 100px;
    height: 100px;
}