* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Mulish', sans-serif;
    background-color: rgb(255, 255, 255);
}
@import "cabeza";
@import"navegacion";
@import"publicidad";
@import"accesos_rapidos";

.botonera {
    display: flex;
    align-items:center;
    justify-content: center;
    &__boton {
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        background-image: linear-gradient(rgb(233, 127, 41), rgb(197, 57, 14));
        border-radius: 15px;
        margin: 7px;
        width: 210px;
        height: 70px;
        &--estilo {
            color:white;
            text-decoration: unset;
            background-color: unset;
        }
    }
}
.footer {
    grid-area: pie;
    background-color: #4a4a4a;
    &__contacto {
        padding: 30px;
        display: flex;
        justify-content: space-evenly;
    }
    &__end {
        height: 80px;
        color: white;
        text-align: center;
        font-size: 15px;
        letter-spacing: 2px;
    }
    &__enlaces {
        display: flex;
        flex-direction: column;
        text-decoration:underline;
        background-color: unset;
        margin-bottom: 10px;
    }
}
@import "estilos";

$dark-mode: off;

@if $dark-mode == on {
    .botonera__boton {
        background-image: linear-gradient(to top, #2e3032, #47494a, #626364, #7e7e7f, #9b9b9b);
    }
    body {
        background-color:rgb(39, 39, 38);
    }
    .gradiente_1 {
        background-image: linear-gradient(to top, #2e3032, #47494a, #626364, #7e7e7f, #9b9b9b);
    }
    .expandir_botones:hover {
        background-image: linear-gradient(rgb(233, 127, 41), rgb(197, 57, 14));
    }
    .footer__enlaces, .p_color {
        color: rgb(189, 185, 185);
    }
    .formularios, h2, h3, article, #tabla_centrada {
        color: rgb(189, 185, 185);
    }
}
